In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('regression_data.csv')
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender  TARGET_D
0  15.500000  7.760467        17.343389         4.181353    Male      21.0
1   3.080000  6.208590        16.230984         4.150313    Male       3.0
2   7.500000  7.113956        18.047227         4.205057  Female      20.0
3   6.700000  5.783825        11.737110         4.055333    Male       5.0
4   8.785714  6.643790        12.494862         4.088969  Female      10.0

In [3]:
X_cat = data.select_dtypes(include = np.object)

In [11]:
X_cat['gender'].unique()

array(['Male', 'Female', 'U'], dtype=object)

In [4]:
from sklearn import preprocessing

In [5]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_cat)
# encoder.categories_
encoded = encoder.transform(X_cat).toarray()
encoded

array([[1., 0.],
       [1., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [1., 0.],
       [1., 0.]])

In [20]:
wert = pd.DataFrame(le)

In [22]:
wert.value_counts()

0    2664
1    1895
2     111
dtype: int64

In [6]:
le = preprocessing.LabelEncoder().fit(X_cat).transform(X_cat)

In [16]:
pd.DataFrame(X_cat)

      gender
0       Male
1       Male
2     Female
3       Male
4     Female
...      ...
4665    Male
4666    Male
4667  Female
4668    Male
4669    Male

[4670 rows x 1 columns]