# From Previous Lesson

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [10]:
data = pd.read_csv('regression_data.csv')
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender  TARGET_D
0  15.500000  7.760467        17.343389         4.181353    Male      21.0
1   3.080000  6.208590        16.230984         4.150313    Male       3.0
2   7.500000  7.113956        18.047227         4.205057  Female      20.0
3   6.700000  5.783825        11.737110         4.055333    Male       5.0
4   8.785714  6.643790        12.494862         4.088969  Female      10.0

In [11]:
Y = data['TARGET_D']
data = data.drop(['TARGET_D'], axis=1)

In [12]:
X_num = data.select_dtypes(include = np.number)
X_cat = data.select_dtypes(include = np.object)

In [6]:
# Standardizing data

In [13]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)
# pd.DataFrame(x_normalized)

(4670, 4)

In [14]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
print(x_standardized.shape)
# pd.DataFrame(x_standardized)

(4670, 4)

# Lesson 1.08

# Lesson 1

In [15]:
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender
0  15.500000  7.760467        17.343389         4.181353    Male
1   3.080000  6.208590        16.230984         4.150313    Male
2   7.500000  7.113956        18.047227         4.205057  Female
3   6.700000  5.783825        11.737110         4.055333    Male
4   8.785714  6.643790        12.494862         4.088969  Female

In [16]:
X_cat = data.select_dtypes(include = np.object)

In [22]:
pd.get_dummies(X_cat, drop_first=True)

      gender_Male  gender_U
0               1         0
1               1         0
2               0         0
3               1         0
4               0         0
...           ...       ...
4665            1         0
4666            1         0
4667            0         0
4668            1         0
4669            1         0

[4670 rows x 2 columns]

In [19]:
from sklearn import preprocessing

In [20]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_cat)
# encoder.categories_
encoded = encoder.transform(X_cat).toarray()
encoded

array([[1., 0.],
       [1., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [1., 0.],
       [1., 0.]])

In [21]:
le = preprocessing.LabelEncoder().fit(X_cat).transform(X_cat) # ordered wrt value counts

# Lesson 2

In [23]:
type(x_normalized)

numpy.ndarray

In [25]:
X = np.concatenate((x_normalized, encoded), axis=1)
#Y = data['TARGET_D']
pd.DataFrame(X).head()

          0         1         2         3    4    5
0  0.623123  0.311982  0.697230  0.168096  1.0  0.0
1  0.169883  0.342445  0.895247  0.228918  1.0  0.0
2  0.353458  0.335264  0.850525  0.198175  0.0  0.0
3  0.439358  0.379279  0.769670  0.265932  1.0  0.0
4  0.512245  0.387362  0.728505  0.238405  0.0  0.0

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=100)

In [27]:
pd.DataFrame(X_train)

             0         1         2         3    4    5
0     0.382167  0.283587  0.861431  0.177380  0.0  0.0
1     0.687985  0.297602  0.636587  0.181290  0.0  0.0
2     0.341079  0.422744  0.803237  0.244465  0.0  0.0
3     0.451484  0.325841  0.805254  0.203854  0.0  0.0
4     0.366831  0.335499  0.843041  0.205324  0.0  0.0
...        ...       ...       ...       ...  ...  ...
2797  0.605323  0.342091  0.684878  0.217945  0.0  0.0
2798  0.361489  0.320488  0.853973  0.193244  0.0  0.0
2799  0.771984  0.243955  0.572267  0.130527  0.0  0.0
2800  0.751649  0.239716  0.592573  0.162534  1.0  0.0
2801  0.508286  0.346044  0.763855  0.196022  0.0  0.0

[2802 rows x 6 columns]

In [28]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
predictions  = lm.predict(X_test)
r2_score(y_test, predictions)

0.4367709325610222

In [29]:
X_train.shape

(2802, 6)

In [31]:
y_train.shape

(2802,)

In [32]:
len(lm.predict(X_test))

1868

In [ ]:
y_test ---- true value
predictions == y_hat

In [49]:

# to make predictions on the new data, we have to process the data (X features) in the same way.

# Lesson 3

In [33]:
mse = mean_squared_error(y_test, predictions)
print(mse)

81.59292426207563

In [34]:
rmse = math.sqrt(mse)
print(rmse)

9.032880175341397

In [35]:
r2 = r2_score(y_test, predictions)
r2

0.4367709325610222

In [58]:
n = len(X_test) 
p = X_test.shape[1]

In [65]:
adj_r2 = 1-((1-r2)*(n-1)/(n-p-1))
adj_r2

0.8300484854627929