In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'

In [3]:
data = pd.read_sql_query('SELECT * FROM loan', connection_string)

In [4]:
data.head()

,loan_id,account_id,date,amount,duration,payments,status,loan_description
0,5314.0,1787.0,930705.0,96396.0,12.0,8033.0,B,Defaulter - Contract Finished
1,5316.0,1801.0,930711.0,165960.0,36.0,4610.0,A,Good - Contract Finished
2,6863.0,9188.0,930728.0,127080.0,60.0,2118.0,A,Good - Contract Finished
3,5325.0,1843.0,930803.0,105804.0,36.0,2939.0,A,Good - Contract Finished
4,7240.0,11013.0,930906.0,274740.0,60.0,4579.0,A,Good - Contract Finished

In [5]:
district_table = pd.read_sql_table('district', connection_string)